<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改resident')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-resident-edit" th:object="${resident}">
            <input name="residentId" th:field="*{residentId}" type="hidden">
            <input id="attachmentUrls" name="attachmentUrls" type="hidden"  />
            <input id="originalFileNames" name="originalFileNames" type="hidden"  />
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">First Name：</label>
                <div class="col-sm-8">
                    <input name="firstName" th:field="*{firstName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Last Name：</label>
                <div class="col-sm-8">
                    <input name="lastName" th:field="*{lastName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Contact Number：</label>
                <div class="col-sm-8">
                    <input name="contactNumber" th:field="*{contactNumber}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Email：</label>
                <div class="col-sm-8">
                    <input name="email" th:field="*{email}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Status：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('resident_status')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}" required>
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Current Resident：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('current_resident')}">
                        <input type="radio" th:id="${'currentResident_' + dict.dictCode}" name="currentResident" th:value="${dict.dictValue}" th:field="*{currentResident}" required>
                        <label th:for="${'currentResident_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Unit Number：</label>
                <div class="col-sm-8">
                    <input name="unitNumber" th:field="*{unitNumber}" class="form-control" type="text" required>
                </div>
            </div>
            <div id="element1" th:if="${multiBuilding==1}">
                <div class="form-group">
                    <label class="col-sm-3 control-label is-required">Building Name：</label>
                    <div class="col-sm-8">
                        <select name="areaName" class="areaName form-control m-b" data-first-title="All" data-first-value="" data-json-value="name" required th:data-value="*{areaName}"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label is-required">Level：</label>
                    <div class="col-sm-8">
                        <select name="levelId" class="levelName form-control m-b" data-first-title="All" data-first-value="" required th:data-value="*{levelId}"></select>
                    </div>
                </div>
            </div>
            <div class="form-group" th:if="${multiBuilding==0}">
                <label class="col-sm-3 control-label is-required">Level：</label>
                <div class="col-sm-8">
                    <select name="levelId" class="form-control m-b" required>
                        <option value="">All</option>
                        <option th:each="level:${buildingLevels}" th:value="${level.levelId}"
                                th:text="${level.levelName}"></option>
                    </select>

                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Committee Member：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('committee_member')}">
                        <input type="radio" th:id="${'committeeMember_' + dict.dictCode}" name="committeeMember" th:value="${dict.dictValue}" th:field="*{committeeMember}" required>
                        <label th:for="${'committeeMember_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Carpark Space Amount：</label>
                <div class="col-sm-8">
                    <select name="carparkSpaceAmount" class="form-control m-b" required onchange="selectCarSpace(this)">
                        <option value="0" th:field="*{carparkSpaceAmount}">0</option>
                        <option value="1" th:field="*{carparkSpaceAmount}">1</option>
                        <option value="2" th:field="*{carparkSpaceAmount}">2</option>
                        <option value="3" th:field="*{carparkSpaceAmount}">3</option>
                    </select>
                </div>
            </div>

            <div class="form-group" id="car1" th:style="'display:' + ${resident.carparkSpaceAmount>0 ? 'block' : 'none'}"
                 >
                <label class="col-sm-3 control-label is-required">#1 Car Space Number：</label>
                <div class="col-sm-2">
                    <input type="hidden" th:value="${carSpaces.size()>0?carSpaces[0].carSpaceId:''}"
                           id="carSpaceId1">
                    <input name="carSpaceNumber1" id="carSpaceNumber1"
                           th:value="${carSpaces.size()>0?carSpaces[0].carSpaceNumber:''}"
                           class="form-control"
                           type="text"
                           required>
                </div>
                <label class="col-sm-3 control-label">#1 Car Plate Number：</label>
                <div class="col-sm-2">
                    <input type="hidden" th:value="${carSpaces.size()>0?carSpaces[0].carPlateId:''}"
                           id="carPlateId1">
                    <input name="carPlateNumber1" id="carPlateNumber1"
                           th:value="${carSpaces.size()>0?carSpaces[0].carPlateNumber:''}"
                           class="form-control" type="text">
                </div>
            </div>
            <div class="form-group" id="car2"
                 th:style="'display:' + ${resident.carparkSpaceAmount>1 ? 'block' : 'none'}">
                <label class="col-sm-3 control-label is-required">#2 Car Space Number：</label>
                <div class="col-sm-2">
                    <input type="hidden" th:value="${carSpaces.size()>1?carSpaces[1].carSpaceId:''}"
                           id="carSpaceId2">
                    <input name="carSpaceNumber2" id="carSpaceNumber2"
                           th:value="${carSpaces.size()>1?carSpaces[1].carSpaceNumber:''}"
                           class="form-control" type="text" required>
                </div>
                <label class="col-sm-3 control-label">#2 Car Plate Number：</label>
                <div class="col-sm-2">
                    <input type="hidden" th:value="${carSpaces.size()>1?carSpaces[1].carPlateId:''}"
                           id="carPlateId2">
                    <input name="carPlateNumber2" id="carPlateNumber2"
                           th:value="${carSpaces.size()>1?carSpaces[1].carPlateNumber:''}"
                           class="form-control" type="text">
                </div>

            </div>
            <div class="form-group" id="car3"
                 th:style="'display:' + ${resident.carparkSpaceAmount>2 ? 'block' : 'none'}">
                <label class="col-sm-3 control-label is-required">#3 Car Space Number：</label>
                <div class="col-sm-2">
                    <input type="hidden" th:value="${carSpaces.size()>2?carSpaces[2].carSpaceId:''}"
                           id="carSpaceId3">
                    <input name="carSpaceNumber3" id="carSpaceNumber3"
                           th:value="${carSpaces.size()>2?carSpaces[2].carSpaceNumber:''}"
                           class="form-control" type="text" required>
                </div>
                <label class="col-sm-3 control-label">#3 Car Plate Number：</label>
                <div class="col-sm-2">
                    <input type="hidden" th:value="${carSpaces.size()>2?carSpaces[2].carPlateId:''}"
                           id="carPlateId3">
                    <input name="carPlateNumber3" id="carPlateNumber3"
                           th:value="${carSpaces.size()>2?carSpaces[2].carPlateNumber:''}"
                           class="form-control" type="text" >
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Resident Type：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('resident_type')}">
                        <input type="radio" th:id="${'residentType_' + dict.dictCode}" name="residentType"
                               th:value="${dict.dictValue}" th:field="*{residentType}" required>
                        <label th:for="${'residentType_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">description：</label>
                <div class="col-sm-8">
                    <textarea name="description" class="form-control">[[*{description}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">attachment</label>
                <div class="col-sm-8">
                    <input id="multipleFile" name="files" type="file" multiple>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: jquery-cxselect-js" />
    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            var multiBuilding = [[${multiBuilding}]];
            if(multiBuilding==1) {
                $('#element1').cxSelect({
                    url: ctx + 'data/level/levelJsonData',
                    selects: ['areaName', 'levelName'],  // selects 为数组形式，请注意顺序
                    // emptyStyle: 'none',
                    jsonSub: 'levels',
                    jsonValue: 'levelId',
                    jsonName: 'name'
                });
            }

            var attachments = [[${attachments}]];
            var schedule = [[${schedule}]];
            var initPrevConfig = new Array();
            var imgUrls = new Array();
            var attachmentUrls="";
            var originalFileNames="";
            var fileMap = new Map();
            $(attachments).each(function (index,item) {
                initPrevConfig[index] = {
                    caption: item.fileName, /*文件标题*/
                    // size:Number(item.accessorySize),
                    type:item.type,
                    downloadUrl: item.attachmentUrl,   //这个是显示下载按钮的关键，如果没有此属性，下载按钮是不会显示的。
                    url: prefix +"/attachment/remove",   /* 预览中的删除按钮的url*/
                    // key: item.attachmentId,             /* 删除时ajax携带的参数*/
                    extra: {attachmentId: item.attachmentId,schId:schedule.schId}  /*删除文件携带的参数*/
                };
                imgUrls.push(item.attachmentUrl);
                fileMap.set(item.attachmentId,item.attachmentUrl);
                attachmentUrls+=item.attachmentUrl+",";
                originalFileNames+=item.fileName+",";
            });
            $("#attachmentUrls").val(attachmentUrls);
            $("#originalFileNames").val(originalFileNames);
            // 多图上传
            $("#multipleFile").fileinput({
                uploadUrl: ctx + 'common/uploads',
                uploadAsync: true,
                showUpload: false,
                initialPreview: imgUrls,                         //你的变量
                initialPreviewConfig: initPrevConfig,
                showPreview: true,
                // initialPreviewAsData: true,
                overwriteInitial: false, //不覆盖已存在的图片
                maxFileSize:50*1024, //50MB  单位KB
                language: 'en'
            }).on("filebatchselected", function(event, files) {
                $(this).fileinput("upload");
            }).on('fileuploaded', function (event, data, previewId, index) {
                var rsp = data.response;
                var fileJson = rsp.data;
                var attachmentUrls = $("#attachmentUrls").val();
                var originalFileNames = $("#originalFileNames").val();
                for (var i in fileJson) {
                    log.info("return data.url：" + fileJson[i].url)
                    log.info("reutrn data.name：" + fileJson[i].name)
                    attachmentUrls+=fileJson[i].url+",";
                    originalFileNames+=fileJson[i].originalFileName+",";
                }
                $("#attachmentUrls").val(attachmentUrls);
                $("#originalFileNames").val(originalFileNames);
            }).on('fileremoved', function (event, id, index) {
                console.info()
                $("input[name='" + event.currentTarget.id + "']").val('')
            }).on("filesuccessremove", function (event, data, previewId, index) {
                console.info("data:"+data);
            }).on('filedeleted', function(event, key, jqXHR, data) {
                console.log('Key = ' + key);
                console.log('data = ' + data);
                fileMap.delete(data.attachmentId);
                var urls = "";
                var keys = fileMap.keys();
                let arr = Array.from(keys);
                for (let i = 0; i < arr.length; i++) {
                    var key  = arr[i];
                    urls += fileMap.get(key);
                }
                $("#attachmentUrls").val(urls);
            });
        });
    </script>
    <script th:inline="javascript">
        var prefix = ctx + "data/resident";
        $("#form-resident-edit").validate({
            focusCleanup: true,
            rules:{
                firstName:{
                    required:true
                },
                lastName:{
                    required:true
                },
                email:{
                    required:true,
                    email:true
                },
                contactNumber:{
                    required: true,
                    number:true
                },unitNumber:{
                    required:true,
                    remote: {
                        url: prefix + "/checkUnitNumberUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "unitNumber" : function() {
                                return $.common.trim($("#unitNumber").val());
                            },
                            "residentId" : function() {
                                return $.common.trim($("#residentId").val());
                            }

                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },carSpaceNumber1:{
                    required:true,
                    remote: {
                        url: prefix + "/checkCarSpaceNumberUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "carSpaceNumber" : function() {
                                return $.common.trim($("#carSpaceNumber1").val());
                            },
                            "carSpaceId" : function() {
                                return $.common.trim($("#carSpaceId1").val());
                            }

                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },carSpaceNumber2:{
                    required:true,
                    remote: {
                        url: prefix + "/checkCarSpaceNumberUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "carSpaceNumber" : function() {
                                return $.common.trim($("#carSpaceNumber2").val());
                            },
                            "carSpaceId" : function() {
                                return $.common.trim($("#carSpaceId2").val());
                            }

                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },carSpaceNumber3:{
                    required:true,
                    remote: {
                        url: prefix + "/checkCarSpaceNumberUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "carSpaceNumber" : function() {
                                return $.common.trim($("#carSpaceNumber3").val());
                            },
                            "carSpaceId" : function() {
                                return $.common.trim($("#carSpaceId3").val());
                            }

                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },carPlateNumber1:{
                    required:true,
                    remote: {
                        url: prefix + "/checkCarPlateNumberUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "carPlateNumber" : function() {
                                return $.common.trim($("#carPlateNumber1").val());
                            },
                            "carPlateId" : function() {
                                return $.common.trim($("#carPlateId1").val());
                            }

                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },carPlateNumber2:{
                    required:true,
                    remote: {
                        url: prefix + "/checkCarPlateNumberUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "carPlateNumber" : function() {
                                return $.common.trim($("#carPlateNumber2").val());
                            },
                            "carPlateId" : function() {
                                return $.common.trim($("#carPlateId2").val());
                            }

                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },carPlateNumber3:{
                    required:true,
                    remote: {
                        url: prefix + "/checkCarPlateNumberUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "carPlateNumber" : function() {
                                return $.common.trim($("#carPlateNumber3").val());
                            },
                            "carPlateId" : function() {
                                return $.common.trim($("#carPlateId3").val());
                            }

                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                }
            },
            messages: {
                "unitNumber": {
                    remote: "Existing unit number"
                },
                "carSpaceNumber1": {
                    remote: "Exist"
                },
                "carSpaceNumber2": {
                    remote: "Exist"
                },
                "carSpaceNumber3": {
                    remote: "Exist"
                },
                "carPlateNumber1": {
                    remote: "Exist"
                },
                "carPlateNumber2": {
                    remote: "Exist"
                },
                "carPlateNumber3": {
                    remote: "Exist"
                },
            },
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-resident-edit').serialize());
            }
        }

        function selectCarSpace(obj){
            var carSpace = $(obj).val();
            if(carSpace==0){
                $("#car1").hide();
                $("#car2").hide();
                $("#car3").hide();
            }else if(carSpace==1){
                $("#car1").show();
                $("#car2").hide();
                $("#car3").hide();
            }else if(carSpace==2){
                $("#car1").show();
                $("#car2").show();
                $("#car3").hide();
            }else if(carSpace==3){
                $("#car1").show();
                $("#car2").show();
                $("#car3").show();
            }
        }
    </script>
</body>
</html>