<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增Asset')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-asset-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Asset Name：</label>
                <div class="col-sm-8">
                    <input name="assetName" class="form-control" type="text" required id="assetName">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Level：</label>
                <div class="col-sm-8">
                    <select name="levelId" class="form-control m-b" required>
                        <option value="">All</option>
                        <option th:each="level:${buildingLevels}" th:value="${level.levelId}"
                                th:text="${level.levelName}"></option>
                    </select>
                   
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Brand：</label>
                <div class="col-sm-8">
                    <input name="brand" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Need Safty Check：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('current_resident')}">
                        <input type="radio" th:id="${'needSaftyCheck_' + dict.dictCode}" name="needSaftyCheck" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'needSaftyCheck_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Can be booked：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('current_resident')}">
                        <input type="radio" th:id="${'canBeBooked_' + dict.dictCode}" name="canBeBooked" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'canBeBooked_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Status：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('resident_status')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Installed Date：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="installedDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Description：</label>
                <div class="col-sm-8">
                    <textarea name="description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Attachment：</label>
                <div class="col-sm-8">
                    <input name="attachmentIds" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "data/asset"
        $("#form-asset-add").validate({
            focusCleanup: true,
            rules:{
                assetName:{
                    remote: {
                        url: prefix + "/checkAssetNameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "assetName" : function() {
                                return $.common.trim($("#assetName").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                }
            },
            messages: {
                "assetName": {
                    remote: "Existing asset name"
                }
            },
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-asset-add').serialize());
            }
        }

        $("input[name='installedDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>