<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liulin.system.mapper.ScheduleMapper">
    
    <resultMap type="Schedule" id="ScheduleResult">
        <result property="schId"    column="sch_id"    />
        <result property="schName"    column="sch_name"    />
        <result property="buildingId"    column="building_id"    />
        <result property="description"    column="description"    />
        <result property="actionRequired"    column="action_required"    />
        <result property="serviceId"    column="service_id"    />
        <result property="priority"    column="priority"    />
        <result property="frequency"    column="frequency"    />
        <result property="startDate"    column="start_date"    />
        <result property="needWorkOrder"    column="needWorkOrder"    />
        <result property="needQuote"    column="needQuote"    />
        <result property="status"    column="status"    />
        <result property="orderInstruction"    column="order_instruction"    />
        <result property="quoteInstruction"    column="quote_instruction"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="quoteStatus"    column="quote_status"    />
        <result property="orderSupplierId"    column="order_supplier_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="orderSupplierName"    column="order_supplier_name"    />
        <result property="serviceName"    column="service_name"    />
    </resultMap>

    <sql id="selectScheduleVo">
        select sch_id, sch_name,building_id, description, action_required, service_id, priority, frequency, start_date,
               needWorkOrder, needQuote, status, order_instruction, quote_instruction, order_status, quote_status, order_supplier_id, create_by, create_time, update_by, update_time from schedule
    </sql>

    <select id="selectScheduleList" parameterType="Schedule" resultMap="ScheduleResult">
       select t1.*,t2.service_name from schedule t1
        left join service t2 on t1.service_id = t2.service_id
        <where>  
            <if test="serviceId != null "> and service_id = #{serviceId}</if>
            <if test="schName != null and schName!=''"> and sch_name like concat('%',#{serviceId},'%') </if>
            <if test="buildingId != null "> and building_id = #{buildingId}</if>
            <if test="priority != null "> and priority = #{priority}</if>
            <if test="frequency != null "> and frequency = #{frequency}</if>
            <if test="params.beginStartDate != null and params.beginStartDate != '' and params.endStartDate != null and params.endStartDate != ''"> and start_date between STR_TO_DATE(#{params.beginStartDate}, '%d-%m-%Y') and STR_TO_DATE(#{params.endStartDate}, '%d-%m-%Y') </if>
            <if test="needWorkOrder != null "> and needWorkOrder = #{needWorkOrder}</if>
            <if test="needQuote != null "> and needQuote = #{needQuote}</if>
            <if test="status != null "> and t1.status = #{status}</if>
            <if test="orderInstruction != null  and orderInstruction != ''"> and order_instruction = #{orderInstruction}</if>
        </where>
    </select>
    
    <select id="selectScheduleById" parameterType="Long" resultMap="ScheduleResult">
        select t1.*,t2.company_name as order_supplier_name from schedule t1
                                                                        left join supplier t2 on t1.order_supplier_id = t2.supplier_id
        where sch_id = #{schId}
    </select>
        
    <insert id="insertSchedule" parameterType="Schedule" useGeneratedKeys="true" keyProperty="schId">
        insert into schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schName != null and schName!=''">sch_name,</if>
            <if test="buildingId != null ">building_id,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="actionRequired != null and actionRequired != ''">action_required,</if>
            <if test="serviceId != null">service_id,</if>
            <if test="priority != null">priority,</if>
            <if test="frequency != null">frequency,</if>
            <if test="startDate != null">start_date,</if>
            <if test="needWorkOrder != null">needWorkOrder,</if>
            <if test="needQuote != null">needQuote,</if>
            <if test="status != null">status,</if>
            <if test="orderInstruction != null">order_instruction,</if>
            <if test="quoteInstruction != null">quote_instruction,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="quoteStatus != null">quote_status,</if>
            <if test="orderSupplierId != null">order_supplier_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schName != null and schName!=''">#{schName},</if>
            <if test="buildingId != null ">#{buildingId},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="actionRequired != null and actionRequired != ''">#{actionRequired},</if>
            <if test="serviceId != null">#{serviceId},</if>
            <if test="priority != null">#{priority},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="needWorkOrder != null">#{needWorkOrder},</if>
            <if test="needQuote != null">#{needQuote},</if>
            <if test="status != null">#{status},</if>
            <if test="orderInstruction != null">#{orderInstruction},</if>
            <if test="quoteInstruction != null">#{quoteInstruction},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="quoteStatus != null">#{quoteStatus},</if>
            <if test="orderSupplierId != null">#{orderSupplierId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSchedule" parameterType="Schedule">
        update schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="schName != null and schName!=''">sch_name = #{schName},</if>
            <if test="buildingId != null">  building_id = #{buildingId},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="actionRequired != null and actionRequired != ''">action_required = #{actionRequired},</if>
            <if test="serviceId != null">service_id = #{serviceId},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="needWorkOrder != null">needWorkOrder = #{needWorkOrder},</if>
            <if test="needQuote != null">needQuote = #{needQuote},</if>
            <if test="status != null">status = #{status},</if>
            <if test="orderInstruction != null">order_instruction = #{orderInstruction},</if>
            <if test="quoteInstruction != null">quote_instruction = #{quoteInstruction},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="quoteStatus != null">quote_status = #{quoteStatus},</if>
            <if test="orderSupplierId != null">order_supplier_id = #{orderSupplierId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where sch_id = #{schId}
    </update>

    <delete id="deleteScheduleById" parameterType="Long">
        delete from schedule where sch_id = #{schId}
    </delete>

    <delete id="deleteScheduleByIds" parameterType="String">
        delete from schedule where sch_id in 
        <foreach item="schId" collection="array" open="(" separator="," close=")">
            #{schId}
        </foreach>
    </delete>

</mapper>