<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Defects Register列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                Date Raised：
                                <input type="text" class="time-input" placeholder="Date Raised" name="dateRaised" autocomplete="off"/>
                            </li>
<!--                            <li>-->
<!--                                Location：-->
<!--                                <input type="text" name="location"/>-->
<!--                            </li>-->
                            <li>
                                Status：
                                <select name="status" th:with="type=${@dict.getType('task_status')}">
                                    <option value="">All</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                Date Complete：
                                <input type="text" class="time-input" placeholder="Date Complete" name="dateComplete" autocomplete="off"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa
                                 fa-search"></i>&nbsp;reseach</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa
                                fa-refresh"></i>&nbsp;reset</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="event:defects:add">
                    <i class="fa fa-plus"></i> add
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="event:defects:edit">
                    <i class="fa fa-edit"></i> edit
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="event:defects:remove">
                    <i class="fa fa-remove"></i> remove
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="event:defects:export">
                    <i class="fa fa-download"></i> export
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('event:defects:edit')}]];
        var removeFlag = [[${@permission.hasPermi('event:defects:remove')}]];
        var statusDatas = [[${@dict.getType('task_status')}]];
        var prefix = ctx + "event/defects";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: " Defects Register",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'defectId',
                    title: 'Defect Id',
                    visible: false
                },
                {
                    field: 'dateRaised',
                    title: 'Date Raised'
                },
                {
                    field: 'location',
                    title: 'Location'
                },
                {
                    field: 'defectType',
                    title: 'Defect Type'
                },
                {
                    field: 'description',
                    title: 'Description'
                },
                {
                    field: 'status',
                    title: 'Status',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'dateComplete',
                    title: 'Date Complete'
                },
                {
                    title: 'action',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" ' +
                                'onclick="$.operate.edit(\'' + row.defectId + '\')"><i class="fa ' +
                                'fa-edit"></i>edit</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" ' +
                                'onclick="$.operate.remove(\'' + row.defectId + '\')"><i class="fa ' +
                                'fa-remove"></i>remove</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>