<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Preview Task')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-task-edit" th:object="${task}">
            <input name="taskId" th:field="*{taskId}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label ">Task Name：</label>
                <div class="col-sm-8">
                    <input name="taskName" th:field="*{taskName}" class="form-control" type="text" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Related Asset：</label>
                <div class="col-sm-8">
                    <span class="badge badge-primary" th:each="asset :${taskAssets}">[[${asset.assetName}]]</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label ">Description：</label>
                <div class="col-sm-8">
                    <textarea name="description" class="form-control" readonly>[[*{description}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label ">Action Required：</label>
                <div class="col-sm-8">
                    <textarea name="actionRequired" class="form-control" readonly>[[*{actionRequired}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label ">Service：</label>
                <div class="col-sm-8">
                    <span class="badge badge-primary" th:each="service :${ servizes}">[[${service.serviceName}]]</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label ">Date Raised：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="dateRaised" th:value="${#dates.format(task.dateRaised, 'dd-MM-yyyy')}"
                               class="form-control" placeholder="dd-MM-yyyy" type="text" disabled>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label ">Time scheduled：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="timeScheduled"
                               th:value="${#dates.format(task.timeScheduled, 'dd-MM-yyyy HH:mm:ss')}"
                               class="form-control" placeholder="dd-mm-yyyy HH:mm:ss" type="text" disabled
                               autocomplete="off">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label ">Date Complete：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="dateComplete" id="dateComplete" class="form-control"
                               placeholder="dd-mm-yyyy" type="text" disabled autocomplete="off" th:value="${#dates.format(task.dateComplete, 'dd-MM-yyyy')}">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label ">Priority：</label>
                <div class="col-sm-8">
                    <select name="priority" id="priority" class="form-control m-b"
                            th:with="type=${@dict.getType('priority')}"
                            disabled>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{priority}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" th:if="${taskType==2}">
                <label class="col-sm-3 control-label ">Root Cause：</label>
                <div class="col-sm-8">
                    <select name="rootCause" id="rootCause" class="form-control m-b"
                            th:with="type=${@dict.getType('root_cause')}" disabled>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{rootCause}"
                        ></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label ">Status：</label>
                <div class="col-sm-8">
                    <select name="taskStatus" id="taskStatus" class="form-control m-b"
                            th:with="type=${@dict.getType('task_status')}" disabled>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{taskStatus}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label ">Need Quote：</label>
                <div class="col-sm-8">
                    <select name="needQuote" id="needQuote" class="form-control m-b"
                            th:with="type=${@dict.getType('if_groud_floor')}" disabled onchange="quoteChange(this)">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{needQuote}"></option>
                    </select>
                </div>
            </div>
            <div id="quoteDiv" th:style="'display:' + ${task.needQuote>0 ? 'block' : 'none'}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Quote Instruction</label>
                    <div class="col-sm-8">
                        <textarea name="quoteInstruction" id="quoteInstruction" class="form-control" readonly
                                  >[[*{actionRequired}]]</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Quote Status</label>
                    <div class="col-sm-8">
                        <select name="quoteStatus" id="quoteStatus" class="form-control m-b"
                                th:with="type=${@dict.getType('quote_status')}" disabled>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                    th:field="*{quoteStatus}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Quote Supplier</label>
                    <div class="col-sm-8">
                        <select name="quoteSupplierIds" id="quoteSupplierIds" class="form-control select2-multiple"
                                multiple disabled>
                            <option th:each="quote :${taskQuotes}" th:value="${quote.supplierId}"
                                    th:text="${quote.companyName}" selected/>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label ">Need Work Order：</label>
                <div class="col-sm-8">
                    <select name="needWorkOrder" id="needWorkOrder" class="form-control m-b"
                            th:with="type=${@dict.getType('if_groud_floor')}" disabled onchange="workOrderChange(this)">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{needWorkOrder}"></option>
                    </select>
                </div>
            </div>
            <div id="orderDiv"  th:style="'display:' + ${task.needWorkOrder>0 ? 'block' : 'none'}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Order Instruction</label>
                    <div class="col-sm-8">
                        <textarea name="orderInstruction" id="orderInstruction" class="form-control" readonly
                                  required>[[*{actionRequired}]]</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Order Status</label>
                    <div class="col-sm-8">
                        <select name="orderStatus" id="orderStatus" class="form-control m-b"
                                th:with="type=${@dict.getType('order_status')}" disabled >
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{orderStatus}"
                            ></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Order Supplier</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="orderSupplierId" id="orderSupplierId" class="form-control"
                               th:field="*{orderSupplierId}"
                        />
                        <input type="text" name="orderSupplierName" id="orderSupplierName" class="form-control"
                               readonly th:field="*{orderSupplierName}"/>
                    </div>
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">Attachment：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input type="hidden" name="attachmentIds" th:field="*{attachmentIds}">-->
<!--                    <div class="file-loading">-->
<!--                        <input class="form-control file-upload" id="attachmentIds" name="file" type="file">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: select2-js" />

    <script>
        $(function() {
            $("#needWorkOrder").select2(
                {
                    minimumResultsForSearch: Infinity
                }
            )
            $("#needQuote").select2(
                {
                    minimumResultsForSearch: Infinity
                }
            )
            $("#taskStatus").select2(
                {
                    minimumResultsForSearch: Infinity
                }
            )
            $("#orderStatus").select2(
                {
                    minimumResultsForSearch: Infinity,
                    width:"100%"
                }
            )
            $("#quoteStatus").select2(
                {
                    minimumResultsForSearch: Infinity,
                    width:"100%"
                }
            )
            $("#rootCause").select2(
                {
                    minimumResultsForSearch: Infinity,
                    width:"100%"
                }
            )
            $("#priority").select2(
                {
                    minimumResultsForSearch: Infinity
                }
            )
            $("#serviceId").select2(
                {
                    minimumResultsForSearch: Infinity
                }
            )
            $("#quoteSupplierIds").select2(
                {
                    width:"100%"
                }
            )

        })
    </script>
    <script th:inline="javascript">

        var prefix = ctx + "event/task";
        $("#form-task-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-task-edit').serialize());
            }
        }

        $("input[name='dateRaised']").datetimepicker({
            language:"en",
            format: "dd-mm-yyyy",
            minView: "month",
            autoclose: true
        });

        $("input[name='timeScheduled']").datetimepicker({
            language:"en",
            forceParse:0,
            format: "dd-mm-yyyy hh:ii:ss",
            // minView: "month",
            autoclose: true
        });

        $("input[name='dateComplete']").datetimepicker({
            language:"en",
            format: "dd-mm-yyyy",
            minView: "month",
            autoclose: true
        });

        $(".file-upload").each(function (i) {
            var val = $("input[name='" + this.id + "']").val()
            $(this).fileinput({
                'uploadUrl': ctx + 'common/upload',
                initialPreviewAsData: true,
                initialPreview: [val],
                maxFileCount: 1,
                autoReplace: true
            }).on('fileuploaded', function (event, data, previewId, index) {
                $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
            }).on('fileremoved', function (event, id, index) {
                $("input[name='" + event.currentTarget.id + "']").val('')
            })
            $(this).fileinput('_initFileActions');
        });

        function assetList(){
            $.modal.open("Asset List", prefix + "/asset");
        }

        function workOrderChange(obj){
            var status = $(obj).val();
            if(status==0){
                $("#orderDiv").hide();
            }else{
                $("#orderDiv").show();
            }
        }

        function quoteChange(obj){
            var status = $(obj).val();
            if(status==0){
                $("#quoteDiv").hide();
            }else{
                $("#quoteDiv").show();
            }
        }

        function selectSupplier(){
            $.modal.open("Select Supplier", prefix + "/selectSupplier/"+$("#serviceId").val());
        }

        function sendWorkOrder(){
            var url = ctx + "mail/sendOrder/";
            if($.common.isEmpty($("#assetIds").val())){
                url +=$("#orderSupplierId").val()+"/"+$("#serviceId").val();
            }else{
                url +=$("#orderSupplierId").val()+"/"+$("#assetIds").val()+"/"+$("#serviceId").val();
            }
            $.modal.open("send work order",
                url);
        }

        function sendQuoteRequest(){
            var url = ctx + "mail/sendQuote/";
            if($.common.isEmpty($("#assetIds").val())){
                url +=$("#quoteSupplierIds").val()+"/"+$("#serviceId").val();
            }else{
                url +=$("#quoteSupplierIds").val()+"/"+$("#assetIds").val()+"/"+$("#serviceId").val();
            }
            $.modal.open("send quote request",
                url);
        }

        function selectQuoteSupplier(){
            $.modal.open("Select Quote Supplier", prefix + "/quoteSupplierList/"+$("#serviceId").val())
        }

        function changeActionRequired(obj){
            var actionRequired = $(obj).val();
            $("#orderInstruction").val(actionRequired);
            $("#quoteInstruction").val(actionRequired);
        }
    </script>
</body>
</html>