<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('supplier列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input type="hidden" th:value="${serviceId}" name="serviceId" />
                    <div class="select-list">
                        <ul>
                            <li>
                                Company Name：
                                <input type="text" name="companyName"/>
                            </li>
                            <li>
                                Contact Number：
                                <input type="text" name="contactNumber"/>
                            </li>
                            <li>
                                Email：
                                <input type="text" name="email"/>
                            </li>
                            <li>
                                Status：
                                <select name="status" th:with="type=${@dict.getType('resident_status')}">
                                    <option value="">All</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                License Number：
                                <input type="text" name="licenseNumber"/>
                            </li>
                            <li>
                                Insurance Expired Date：
                                <input type="text" class="time-input" placeholder="Insurance Expired Date" name="insuraceExpiredDate"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;search</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;reset</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('data:supplier:edit')}]];
        var removeFlag = [[${@permission.hasPermi('data:supplier:remove')}]];
        var statusDatas = [[${@dict.getType('resident_status')}]];
        var prefix = ctx + "data/supplier";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: " supplier",
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'supplierId',
                    title: 'Supplier Id',
                    visible: false
                },
                {
                    field: 'companyName',
                    title: 'Company Name'
                },
                {
                    field: 'serviceNames',
                    title: 'Service'
                },
                {
                    field: 'contactNumber',
                    title: 'Contact Number'
                },
                {
                    field: 'email',
                    title: 'Email'
                },
                {
                    field: 'status',
                    title: 'Status',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'licenseNumber',
                    title: 'License Number'
                },
                {
                    field: 'insuraceExpiredDate',
                    title: 'Insurance Expired Date'
                }]
            };
            $.table.init(options);
        });

        function submitHandler(index, layero) {
            var rows = $.table.selectFirstColumns();
            var companyNames = $.table.selectColumnsNotUnique("companyName");
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var data = [];
            for (i=0;i<rows.length;i++ in rows){
                var line = {
                    id: rows[i],
                    text: companyNames[i],
                    selected: true
                }

                data.push(line);
            }
            $.modal.close();
            parent.$('#quoteSupplierIds').select2("destroy").empty();
            parent.$('#quoteSupplierIds').select2(
                {
                    data:data,
                }
            );
        }
    </script>
</body>
</html>