<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('scheduleDetail列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input type="hidden" name="schId" th:value="${scheduleId}">
                <div class="select-list">
                    <ul>
                        <li>
                            PM Schedule Status：
                            <select name="status" th:with="type=${@dict.getType('task_status')}">
                                <option value="">All</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa
                                 fa-search"></i>&nbsp;reseach</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa
                                fa-refresh"></i>&nbsp;reset</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('event:schedule:edit')}]];
    var statusDatas = [[${@dict.getType('task_status')}]];
    var priorityDatas = [[${@dict.getType('priority')}]];
    var frequencyDatas = [[${@dict.getType('frequency')}]];
    var needWorkOrderDatas = [[${@dict.getType('if_groud_floor')}]];
    var needQuoteDatas = [[${@dict.getType('if_groud_floor')}]];
    var prefix = ctx + "event/schedule";

    $(function() {
        var options = {
            url: prefix + "/schDetailList/list",
            updateUrl: prefix + "/detailEdit/{id}",
            modalName: " scheduleDetail",
            columns: [
                {
                    field: 'schDetailId',
                    title: 'Schedule Detail Id',
                    visible: false
                },
                {
                    field: 'schName',
                    title: 'Name'

                },
                {
                    field: 'serviceName',
                    title: 'Service'

                },{
                    field: 'priority',
                    title: 'Priority',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(priorityDatas, value);
                    }
                },
                {
                    field: 'frequency',
                    title: 'Frequency',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(frequencyDatas, value);
                    }
                },
                {
                    field: 'completeDate',
                    title: 'Date Complete'
                },
                {
                    field: 'schDate',
                    title: 'Date Schedule'
                },
                {
                    field: 'needWorkOrder',
                    title: 'Need Work Order',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(needWorkOrderDatas, value);
                    }
                },
                {
                    field: 'needQuote',
                    title: 'Need Quote',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(needQuoteDatas, value);
                    }
                },
                {
                    field: 'status',
                    title: 'PM Schedule Status',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'description',
                    title: 'Description'
                },
                {
                    title: 'action',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" ' +
                            'onclick="$.operate.edit(\'' + row.schDetailId + '\')"><i class="fa ' +
                            'fa-edit"></i>edit</a> ');
                        return actions.join('');
                    }
                }
                ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>