<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改scheduleDetail')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-schedule-edit" th:object="${detail}">
        <input name="schId" th:field="*{schDetailId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label ">Description：</label>
            <div class="col-sm-8">
                <textarea name="description" class="form-control" >[[*{description}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">Time Complete：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="completeDate" th:value="${#dates.format(detail.completeDate, 'dd-MM-yyyy')}"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">PM Schedule Status：</label>
            <div class="col-sm-8">
                <select name="status" id="needQuote" class="form-control m-b"
                        th:with="type=${@dict.getType('task_status')}"  onchange="quoteChange(this)">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{status}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />

<script th:inline="javascript">


    var prefix = ctx + "event/schedule";
    $("#form-schedule-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/editDetail", $('#form-schedule-edit').serialize());
        }
    }

    $("input[name='completeDate']").datetimepicker({
        language:"en",
        format: "dd-mm-yyyy",
        minView: "month",
        autoclose: true
    });



</script>



</body>
</html>